<div class="table-wrapper">
  <h1>My Profile</h1>
  <div>
    <button mat-raised-button [routerLink]="'/services-history'" style="left: 830px; ">VIEW SERVICES HISTORY</button>
  </div>
  <mat-grid-list cols="2" rowHeight="2:1" class="mat-card" style="padding: 100px">
    <mat-grid-tile>
      <img src="assets/tech1.jpg">
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-elevation-z8">
        <h2>Bio:</h2>
      Firstname: John Joseph
      Lastname: Doe Morgan
      City: AAAA City
      District: BBBB District
      DNI: 00000000
      </mat-card>
      <mat-card class="mat-elevation-z8">
        <h2>Contact me:</h2>
        Phone: 999-999-999
        Email: Jdoe21@gmail.com
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="mat-elevation-z8">
      <h1>About me:</h1>
      Lorem ipsum dolor sit amet,
      consectetur adipiscing elit,
      sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis
      nostrud exercitation ullamco
      laboris nisi ut aliquip ex
      ea commodo.
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
      <mat-card class="mat-elevation-z8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </mat-card>
      </div>
      <div>
      <mat-card class="mat-elevation-z8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
